body {
  background-color: powderblue;
  /* background-image: url(https://i.imgur.com/H0SoUS7.png); */
  background-position: center center;
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  width: 100%;
}

#header{
  padding-left: 10px;
  text-align: left;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
  opacity: 90;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}